.scroll {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  border: var(--border);
  border-radius: 7px;
  padding: 3px;

  cursor: grab;
  user-select: none;
}

.scroll:active {
  cursor: grabbing;
}

.table {
  display: grid;
  grid-template-columns: repeat(5, 310px);
  gap: 5px;
  border-radius: var(--border-radius);
}

.header {
  height: 100%;
  background-color: var(--slate-3);
  border-radius: var(--border-radius);
  padding: 3px 6px;
  color: black
}

.header span {
  display: block;
}

.row {
  display: contents;
  padding: 5px;
}

.row > * {
  border: var(--border);
  padding: 4px 5px 3px 5px;
  border-radius: var(--border-radius);
}

/* .row:nth-child(even) > * {
  background-color: var(--slate-2);
} */

.partOfSpeech {
  font-size: 1.1rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.notes,
.notes span {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.ptNotes {
  display: block;
}
