.img {
  margin: 0 auto;
  display: "block";
  object-fit: "cover";
}

.ratio-16-9 {
  width: 70%;
}

@media (max-width: 500px) {
  .img {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .ratio-16-9 {
    width: 100%;
  }
}
