.img {
  margin: 0 auto;
  height: 100%;
  object-fit: contain;
  display: grid;
  place-items: center;
}

.ratio-16-9 {
  width: 70%;
}

@media (max-width: 500px) {
  .img {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .ratio-16-9 {
    width: 100%;
  }
}
