.wrapper {
  display: grid;
  gap: 10px;

  overflow-x: auto;
  cursor: grab;
  user-select: none;
}

.wrapper:active {
  cursor: grabbing;
}
.column {
  margin-bottom: 5px;
}

.text {
  display: block;
}
