.welcomeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.welcome, .feeling {
  font-family: var(--font-permanent-marker);
  text-align: center;
  color: var(--text-color);
}

.welcome {
  font-size: 2.5rem;
}

.feeling {
  font-size: 1.6rem;
}