.welcomeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--font-luckiestGuy);
}

.welcome, .feeling {
  text-align: center;
  color: var(--gray-2)
}

.welcome {
  font-size: 2rem;
}