.navMain {

  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-columns: 190px auto;
  gap: 15px;

  width: 100%;
  height: 100%;

  position: relative;
}

.content {
  min-width: 0;
  min-height: 0;
  overflow: auto;

}

.dictionary-area {
  position: absolute;
  top: 5px;
  z-index: 1;
  align-self: flex-end;
}

@media (max-width: 700px) {
  .navMain {
    grid-template-columns: 1fr;
  }

  .nav {
    position: absolute;
  }
}
