.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--gray-1);

  /* hidden by default */
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(8px);
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}