.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: var(--gray-1);
}