.nav {
  position: absolute;
  width: 125px;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font-oswald);
  font-size: 1rem;
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow-y: auto;
  z-index: 1;

  transition: margin-left 0.5s ease;
}

.nav a {
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
  display: block;
}

.nav a:hover {
  color: var(--red-5);
}

.navTitle {
  font-weight: bold;
  text-transform: uppercase;
}

.nav.show {
  margin-left: 0px;
}

@media (max-width: 700px) {
  .nav {
    margin-left: -130px;
  }
}