.nav {
  width: 180px;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font-bebas);
  font-size: 1.3rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

.navLinks {
  color: inherit;
  text-decoration: none;
  display: block;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}