.nav {
  width: var(--nav-width);
  position: absolute;
  height: 100%;

  padding: 5px 5px 5px 5px;
  font-family: var(--font-oswald);
  font-size: 1rem;
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow-y: auto;
  z-index: 2;

  transition: margin-left 0.5s ease;
  will-change: margin-left;
}

.nav a {
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
  display: block;
  border-left: 3px solid var(--slate-3);
  padding-left: 3px;
  margin-bottom: 5px;
}

.nav a:hover {
  color: var(--slate-4);
  transition: color 0.2s;
}

.navTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 700px) {
  .nav {
    margin-left: -195px;
  }

  .nav.show {
    margin-left: 0;
  }
}
