.nav {
  position: absolute;
  min-width: 140px;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font-oswald);
  font-size: 1rem;
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow-y: auto;
  z-index: 1;
  
  transition: transform 0.5s ease;
}

.nav a {
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
  display: block;
}

.nav a:hover {
  color: var(--slate-4);
  transition: color 0.2s;
}

.navTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .nav {
    transform: translateX(-145px);
  }
  
  .nav.show {
    margin-left: 0px;
  }
}