.scroll {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  
  cursor: grab;
  user-select: none;
  border: var(--border);
  border-radius: 7px;
  padding: 3px

}

.scroll:active {
  cursor: grabbing;
}

.table {
  display: grid;
  grid-template-columns: repeat(5, 310px);
  gap: 5px;
  border-radius: var(--border-radius);
}

.header {
  height: 100%;
  background-color: var(--slate-3);
  border-radius: var(--border-radius);
  padding: 3px 6px;
}

.row {
  display: contents;
  padding: 5px;
}

.row > * {
  padding: 4px 5px 3px 5px;
  border-radius: var(--border-radius);
}

.row:nth-child(even) > * {
  background-color: var(--slate-2);
}

.hidden {
  visibility: hidden;
}