
.image {
  max-width: 100%;
  height: 200px;
  border: 5px solid var(--slate-5);
  border-radius: 5px;
}

.withImage {
  display: flex;
  gap: 10px;
}

.top {
  flex-direction:column;
}

.right {
  flex-direction: row-reverse ;
}

.bottom {
  flex-direction: column-reverse;
}

.left {
  flex-direction: row;
}

.PlayIcon {
  transform: translate(-1px, -1px);
}

@media (max-width: 600px) {
  .withImage {
    flex-direction: column;
    align-items: center;
  } 
}