.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapper {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.symbol {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--blue-5);
}

.description {
  font-size: 0.9rem;
  text-align: center;
}
