.symbol,
.description {
  font-family: "Times New Roman", Times, serif;
}

.symbol {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue-5);
}

.flag {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  transform: translateY(-1px);
}
