.block {
  display: block;
}

.inline {
  display: inline;
}

.text {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px
}

.blank {
  box-sizing: content-box;
  margin: 0 5px 2px 0;
  padding: 2px 4px;
  border: 1px solid var(--slate-3);
  border-radius: 5px;
  background-color: white;
  width: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.blank:focus {
  outline: none;
  border-color: var(--slate-4);
}

.correct {
  border: 1px solid var(--green-5);
}

.incorrect {
  border: 1px solid var(--red-5);
}
