.iconPosition {
  transform: translate(-2px, -1px);
  display: inline-flex;
}

.flagIcon {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  margin-right: 6px;
}

.soundVariationIcon {
  margin-right: 2px;
}