.frame {
  border: 5px solid var(--slate-3);
  border-radius: var(--border-radius);
  padding: 2px 8px 4px 6px;
  margin-bottom: 30px;
}

.frame span {
  display: block;
}

.subtitle {
  margin-bottom: 2px;
}

.book {
  margin-bottom: 2px;
}