.note {
  display: block;
  margin-bottom: var(--line-break);
  color: black
}

.bg {
  background-color: var(--yellow-1);
}

.bg ul {
  color: black
}

.bulleted {
  padding-left: 1.5rem;
}

.bulleted li {
  list-style-type: disc;
  list-style-position: outside;
}

.noBullet {
  padding-left: 0;
}

.noBullet li {
  list-style-type: none;
}