.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--padding);
  border-bottom: 1px solid var(--gray-4);
  overflow: hidden;
}

.header img {
  border: none;
  width: 28px;
}

.menuBtnWrapper {
  transform: translateX(-40px);
  transition: transform 0.5s ease;
  position: relative;
  bottom: 5px;
  height: 30px;
}

.nav {
  display: flex;
  gap: 20px;

  font-family: var(--font-oswald);
  font-size: 1.2rem;
  font-weight: bold;

  margin-left: 7px;
}

.navLink {
  color: var(--text-color);
}

.navLink:hover {
  filter: drop-shadow(3px 3px 1px var(--gray-5))
}

.logoName {
  font-family: var(--font-anton);
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--text-color);
}

.darkLog {
  display: flex;
  gap: 5px;
}

.darkModeBtn:hover .starOne,
.darkModeBtn:hover .starTwo  {
  filter: drop-shadow(0 0 1px var(--yellow-4));
  transform-box: fill-box;
  transform-origin: center;
}

.darkModeBtn:hover .starOne  {
  animation:
    rotateStars 15s linear infinite,
    blinkStars 3s ease infinite;
}

.darkModeBtn:hover .starTwo  {
  animation:
    rotateStars 5s linear infinite,
    blinkStars 1s ease infinite;
}

@keyframes rotateStars {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinkStars {
  0% {
    opacity: 0.8;
  }

  5% {
    opacity: 1;
  }

  10% {
    opacity: 0.4;
  }

  15% {
    opacity: 1;
  }

  20% {
    opacity: 0.8;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.logInOutArrow {
  transition: transform 20s;
}

.logInOutBtn:hover .logInArrow {
  animation: logIn 1s ease infinite;
}

@keyframes logIn {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0px);
  }
}

.logInOutBtn:hover .logOutArrow {
  animation: logOut 1s ease infinite;
}

@keyframes logOut {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 700px) {
  .menuBtnWrapper {
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
}
