
.wrapper {
  display: flex;
  flex-direction: column;
}

.withImage {
  display: flex;
  gap: 10px;
}

.paragraphBlock {
  width: 100%;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.top {
  flex-direction: column;
  align-items: center;
}

.top p
 {
  width: 100%;
 }

.bottom {
  flex-direction: column-reverse;
  align-items: center;
}

.bottom p {
  width: 100%;
}

@media (max-width: 600px) {
  .withImage {
    flex-direction: column;
    align-items: center;
  } 
}