
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.withImage {
  display: flex;
  gap: 1rem;
}

.imgsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-shrink: 0;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.top {
  flex-direction: column;
  align-items: center;
}

.top p
{
  width: 100%;
}

.paragraphBlock {
  width: 100%;
}

.pLineBreak {
  margin-bottom: 0.6rem;
}

.bottom {
  flex-direction: column-reverse;
  align-items: center;
}

.bottom p {
  width: 100%;
}

@media (max-width: 600px) {
  .withImage {
    flex-direction: column;
    align-items: center;
  } 
}