
.wrapper {
  display: flex;
  flex-direction: column;
}

.lineBreak {
  margin-bottom: var(--line-break);
}

.paragraphBlock {
  width: 100%;
}

.withImage {
  display: flex;
  gap: 10px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.top {
  flex-direction: column;
}

.bottom {
  flex-direction: column-reverse;
}

.withImage p {
  margin: 0;
  flex: 1;
}

@media (max-width: 600px) {
  .withImage {
    flex-direction: column;
    align-items: center;
  } 
}