@import "../css/reset.css";
@import "../css/typography.css";
@import "../css/colors.css";

:root {
  --background-color: var(--slate-1);
  --text-color: var(--slate-9);
  --icon-color: var(--gray-4);

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;

  /* Border */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);

  /* Neumorphism */
  --neumorphism:
    -0.1rem -0.1rem 0.1rem #fff,
    0.1rem 0.1rem 0.1rem var(--slate-2);
  --neumorphism-active:
    inset -0.02rem -0.02rem 0.1rem var(--slate-2),
    inset 0.1rem 0.1rem 0.2rem var(--slate-3);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: var(--slate-9);
  --text-color: var(--slate-1);
  --icon-color: var(--slate-1);

  --icon-invert: 1;
  --neumorphism:
    -0.07rem -0.07rem 0.1rem var(--slate-7),
    0.10rem 0.10rem 0.1rem var(--slate-10);
  --neumorphism-active:
    inset 0.1rem 0.1rem 0.1rem var(--slate-10),
    inset -0.01rem -0.01rem 0.2rem var(--slate-6);
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

html,
body {
  height: 100dvh;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

header {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  overflow: hidden;
}

#btn-menu {
  transition: transform 0.5s ease;
}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  position: relative;

  display: flex;
}

nav {
  position: absolute;

  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  width: 125px;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font-bebas);
  font-size: 1.5rem;
  overflow-y: auto;
  z-index: 1;

  transition: margin-left 0.5s ease;
}

nav a {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--red-5);
}

.nav-title {
  font-weight: bold;
  text-transform: uppercase;
}

nav.show {
  margin-left: 0px;
}

main {
  position: absolute;
  left: 130px;
  right: 0;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  height: 100%;
  overflow-y: auto;

  transition: left 0.5s ease;
}

footer {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  text-align: center;
}

@media (max-width: 700px) {
  nav {
    margin-left: -130px;
  }

  main {
    left: 0;
  }
}
