@import "../css/reset.css";
@import "../css/typography.css";
@import "../css/colors.css";

:root {
  --background: #E8E8F3;

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;

  /* Border */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);

  /* Neumorphism */
  --neumorphism:
    -3px -3px 3px rgba(255, 255, 255, 1),
    3px 3px 6px rgba(0, 0, 0, 0.15);
  --neumorphism-active: inset -5px -5px 7px rgba(255, 255, 255, 1),
    inset 5px 5px 7px rgba(0, 0, 0, 0.15);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #18191f;
  --text-color: #fff;
  --menu-button: var(--slate-2);
  --icon-invert: 1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

html,
body {
  height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: var(--padding);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

header {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  overflow: hidden;
}

#btn-menu {
  transition: transform 0.5s ease;
}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  position: relative;
  
  display: flex;
}

nav {
  position: absolute;
  
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  width: 125px;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font-bebas);
  font-size: 1.5rem;
  overflow-y: auto;
  z-index: 1;

  transition: margin-left 0.5s ease;
}

nav a {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--red-5);
}

.nav-title {
  font-weight: bold;
  text-transform: uppercase;
}

nav.show {
  margin-left: 0px;
}

main {
  position: absolute;
  left: 130px;
  right: 0;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  height: 100%;
  overflow-y: auto;

  transition: left 0.5s ease;
}

footer {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  text-align: center;
}

@media (max-width: 700px) {
  nav {
    margin-left: -130px;
  }
  
  main {
    left: 0
  }
}
