@import "../css/reset.css";
@import "../css/typography.css";
@import "../css/colors.css";

:root {
  --background-color: var(--slate-1);
  --text-color: var(--slate-9);
  --icon-color: var(--gray-4);

  /* Spacing */
  --line-break: 1rem;
  --line-height: 1.4;
  --margin-right: 5px;
  --margin-inline: 5px;
  --padding: 5px;
  --padding-block: 0.4rem;
  --gap: 0.3125rem;
  --nav-width: 173px;

  /* Border */
  --border: 1px solid var(--gray-3);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);

  /* Neumorphism */
  --neumorphism:
    -0.1rem -0.1rem 0.1rem #fff, inset 0.01rem 0.01rem 0.1rem var(--slate-2),
    0.1rem 0.1rem 0.4rem var(--slate-3);
  --neumorphism-active:
    inset -0.02rem -0.02rem 0.1rem var(--slate-2),
    inset 0.1rem 0.1rem 0.2rem var(--slate-3);
  --neumorphism-soft:
    4px 4px 8px rgba(0, 0, 0, 0.15), -4px -4px 8px rgba(255, 255, 255, 0.6);
}

/* Dark Mode */
html.dark {
  --background-color: var(--slate-9);
  --text-color: var(--slate-1);
  --icon-color: var(--slate-1);

  --icon-invert: 1;
  --neumorphism:
    -0.07rem -0.07rem 0.1rem var(--slate-7),
    0.1rem 0.1rem 0.1rem var(--slate-10);
  --neumorphism-active:
    inset 0.1rem 0.1rem 0.1rem var(--slate-10),
    inset -0.03rem -0.03rem 0.2rem var(--slate-6);
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.line-break-double {
  display: flex;
  flex-direction: column;
  gap: var(--gap-line-break);
}

.line-break-item {
  margin-bottom: var(--line-break);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 1100px;
  height: 100dvh;
  margin: 0 auto;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

header {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  overflow: hidden;
}

#btn-menu {
  transition: transform 0.5s ease;
}

.nav-main {
  flex: 1;
  min-height: 0;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Nav */

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: 5px 5px 0px 5px;

  transition: margin-left 0.5s ease;
  will-change: margin-left;
  scroll-behavior: smooth;
}

.dictionary-area {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.h3 {
  font-size: 1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

mark {
  background-color: var(--yellow-3);
  display: inline-block;
  padding-inline: 0.1rem;
}

.flex {
  width: max-content;
  display: flex;
  gap: 5px;
}

.flex-align {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
}

.flex-container {
  display: flex;
  gap: 10px;
}

.phonetics {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: var(--blue-5);
}

.portuguese {
  color: var(--gray-4);
}

.button-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.imgs {
  border: var(--border);
  border-radius: var(--border-radius);
}

.icon-position {
  transform: translate(-2px, -1px);
  display: inline-block;
}

.flag-icon {
  width: 20px;
  height: 20px;
  transform: translateY(4px);
  margin-right: 6px;
}

@media (max-width: 700px) {
  .nav {
    margin-left: var(--nav-width);
  }

  .nav.show {
    margin-left: 0;
  }

  main {
    margin-left: 0;
  }
}

@media (min-width: 700px) {
  main {
    margin-left: 178px;
  }
}
