@import "../css/reset.css";
@import "../css/typography.css";
@import "../css/colors.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;

  /* Border */
  --border: 1px solid gray;
  --border-radius: 5px
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

html,
body {
  height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: var(--padding);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

header {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  /* min-height: 36px; */

}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  position: relative;

  display: flex;
}

nav {
  position: absolute;

  border: var(--border);
  border-radius: var(--border-radius);
  width: 125px;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font-bebas);
  font-size: 1.5rem;
  overflow-y: auto;
  z-index: 1;

  transition: margin-left 0.5s ease;
}

nav a {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--red-5);
}

.nav-title {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  position: absolute;
  left: 130px;
  right: 0;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  height: 100%;
  overflow-y: auto;

  transition: left 0.5s ease;
}

footer {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  text-align: center;
}

@media (max-width: 700px) {
  nav {
    margin-left: -130px;
  }
  
  main {
    left: 0
  }
}

@media (min-width: 700px) {
  
}
