* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

html,
body {
  height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

main {
  padding: var(--padding);
  height: 100%;
}

.main-card {
  margin-left: 160px;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
