@import "../css/reset.css";
@import "../css/typography.css";
@import "../css/colors.css";

:root {
  --background-color: var(--slate-1);
  --text-color: var(--slate-9);
  --icon-color: var(--gray-4);

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;

  /* Border */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);

  /* Neumorphism */
  --neumorphism: -0.1rem -0.1rem 0.1rem #fff,
    inset 0.01rem 0.01rem 0.1rem var(--slate-2),
    0.1rem 0.1rem 0.4rem var(--slate-3);
  --neumorphism-active: inset -0.02rem -0.02rem 0.1rem var(--slate-2),
    inset 0.1rem 0.1rem 0.2rem var(--slate-3);
}

/* Dark Mode */
html.dark {
  --background-color: var(--slate-9);
  --text-color: var(--slate-1);
  --icon-color: var(--slate-1);

  --icon-invert: 1;
  --neumorphism: -0.07rem -0.07rem 0.1rem var(--slate-7),
    0.1rem 0.1rem 0.1rem var(--slate-10);
  --neumorphism-active: inset 0.1rem 0.1rem 0.1rem var(--slate-10),
    inset -0.03rem -0.03rem 0.2rem var(--slate-6);
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line-break-double {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 900px;
  margin: 0 auto;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

header {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  overflow: hidden;
}

#btn-menu {
  transition: transform 0.5s ease;
}

.nav-main {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
}

/* Nav */

main {
  /* flex: 1; */
  transition: margin-left 0.5s ease;
  will-change: margin-left;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: 5px;
  overflow-y: auto;
}

@media (max-width: 700px) {
  .nav {
    margin-left: -145px;
  }

  .nav.show {
    margin-left: 0;
  }

  main {
    margin-left: 0;
  }
}

@media (min-width: 700px) {
  main {
    margin-left: 145px;
  }
}
