* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  padding: var(--padding)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid red;
}



a {
  color: inherit;
  text-decoration: none;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
