.layout {
  max-width: 1100px;
  height: 100dvh;
  margin: 0 auto;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.main {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
