.layout {
  position: relative;
}

.dbec {
  line-height: 1;
  text-align: center;
}

.db,
.ec {
  font-family: var(--font-anton);
  text-shadow: 1px 1px 5px var(--gray-5);
}

.db {
  font-size: 3.5rem;
  transform: translateX(100px);
  animation-name: db;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes db {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.ec {
  font-size: 2.66rem;
  transform: translateX(-100px);
  animation-name: ec;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes ec {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.meComputerWrapper {
  margin-top: 30px;
  display: grid;
  place-items: center;
}

.meComputer {
  border: 0;
}

.greetings {
  font-family: var(--font-luckiestGuy);
  font-size: 1.5rem;
  margin: 20px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.welcome {
  margin-inline: min(100px, max(0px, calc((100vw - 360px) * 0.135)));
}

.contact {
  width: max-content;
  margin: 20px auto;
}
