.layout {
  position: relative;
  margin-block: 50px;
}

.dbec {
  line-height: 1.13;
  text-align: center;
}

.db,
.ec {
  font-family: var(--font-anton);
  color: #222222;
  -webkit-text-stroke: 12px var(--gray-2);
  paint-order: stroke fill;
  filter: drop-shadow(2px 2px 1px var(--gray-4));
  text-shadow: 1px 1px 1px var(--gray-4);
  
}

.db {
  font-size: 4rem;
}

.ec {
  font-size: 3.06rem;
}

.meComputerWrapper {
  margin-top: 30px;
  display: grid;
  place-items: center;
}

.meComputer {
  border: 0;
}

.greetingsWrapper {
  margin-top: 50px;
}

.greetings {
  font-family: var(--font-luckiestGuy);
  font-size: 1.5rem;
  margin: 20px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.welcome {
  margin-inline: min(100px, max(0px, calc((100vw - 360px) * 0.135)));
}

.contact {
  width: max-content;
  margin: 50px auto;
}
