.wrapper {
 display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: center;
  gap: 10px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 10px;
  gap: 8px;
}

.wordAudioWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}