.question {
  margin-bottom: 1px;
}

.description {
  display: block;
}

.label {
  display: flex;
  gap: 5px;
  margin: 7px 5px 0 0;
}

.input[type="radio"] {
  display: none;
}

.radio {
  min-width: 20px;
  height: 20px;
  border: 1px solid var(--slate-4);
  border-radius: 50%;

  position: relative;
}

.radioDisabled {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(40%);
}

.radioInner {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--gray-5);
}

.radioGreen .radioInner {
  background: var(--green-5);
}

.radioRed .radioInner {
  background: var(--red-5);
}
