/* .coffee {
  border: 3px solid var(--yellow-4);
  border-radius: 5px;
  padding: 3px 5px;
  width: max-content;
  background-color: var(--yellow-1);
  color: black;
  font-family: var(--font-allura);
  font-size: 1.3rem;
}

.coffee:hover {
  background-color: var(--yellow-2);
} */

.img {
  height: 37px;
  border-radius: 20px;
}