.button {
  background-color: var(--background-color);

  display: grid;
  cursor: pointer;
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20%;
  box-shadow: var(--neumorphism);
  border: none;
  transition: all 0.1s ease-in;
}

.button.active {
  box-shadow: var(--neumorphism-active)
}

button.active svg {
  transform: scale(0.95);
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.menuBtn span {
  background-color: var(--icon-color);
  width: 20px;
  height: 3px;
  border-radius: 5px;
  transition: 0.3s;
}

.menuBtn.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.menuBtn.active span:nth-child(2) {
  opacity: 0;
}
.menuBtn.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

@media (max-width: 700px) {
  #btnMenu {
    transform: translateX(0px);
  }
}

@media (min-width: 700px) {
  #btnMenu {
    transform: translateX(-41px);
  }
}
