.button {
  width: 30px;
  height: 30px;
}

.button.active {
  box-shadow: var(--neumorphism-active)
}

button.active svg {
  transform: scale(0.95);
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.menuBtn span {
  background-color: #000;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  transition: 0.3s;
}

.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}