.button {
  display: grid;
  cursor: pointer;
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 1px;
  color: var(--letter-color);
  border-radius: 20%;
  background-color: var(--button-color);
  box-shadow: var(--neumorphism);
  border: none;
  transition: all 0.1s ease-in-out;
}

.button.active {
  box-shadow: var(--neumorphism-active)
}

button.active svg {
  transform: scale(0.95);
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.menuBtn span {
  background-color: #000;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  transition: 0.3s;
}

.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}