:root {
  --slate-0: #f8fafc;
  --slate-1: #f1f5f9;
  --slate-2: #e2e8f0;
  --slate-3: #cbd5e1;
  --slate-4: #94a3b8;
  --slate-5: #64748b;
  --slate-6: #475569;
  --slate-7: #334155;
  --slate-8: #1e293b;
  --slate-9: #0f172a;
  --slate-10: #020617;

  --gray-0: #f9fafb;
  --gray-1: #f3f4f6;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
  --gray-4: #9ca3af;
  --gray-5: #6b7280;
  --gray-6: #4b5563;
  --gray-7: #374151;
  --gray-8: #1f2937;
  --gray-9: #111827;
  --gray-10: #030712;

  --neutral-0: #fafafa;
  --neutral-1: #f5f5f5;
  --neutral-2: #e5e5e5;
  --neutral-3: #d4d4d8;
  --neutral-4: #a3a3a3;
  --neutral-5: #737373;
  --neutral-6: #525252;
  --neutral-7: #404040;
  --neutral-8: #262626;
  --neutral-9: #171717;
  --neutral-10: #0a0a0a;

  --red-0: #fef2f2;
  --red-1: #fee2e2;
  --red-2: #fecaca;
  --red-3: #fca5a5;
  --red-4: #f87171;
  --red-5: #ef4444;
  --red-6: #dc2626;
  --red-7: #b91c1c;
  --red-8: #991b1b;
  --red-9: #7f1d1d;
  --red-10: #450a0a;

  --orange-0: #fff7ed;
  --orange-1: #ffedd5;
  --orange-2: #fed7aa;
  --orange-3: #fdba74;
  --orange-4: #fb923c;
  --orange-5: #f97316;
  --orange-6: #ea580c;
  --orange-7: #c2410c;
  --orange-8: #9a3412;
  --orange-9: #7c2d12;
  --orange-10: #431407;

  --amber-0: #fffbeb;
  --amber-1: #fef3c7;
  --amber-2: #fde68a;
  --amber-3: #fcd34d;
  --amber-4: #fbbf24;
  --amber-5: #f59e0b;
  --amber-6: #d97706;
  --amber-7: #b45309;
  --amber-8: #92400e;
  --amber-9: #78350f;
  --amber-10: #451a03;

  --yellow-0: #fefce8;
  --yellow-1: #fef9c3;
  --yellow-2: #fef08a;
  --yellow-3: #fde047;
  --yellow-4: #facc15;
  --yellow-5: #eab308;
  --yellow-6: #ca8a04;
  --yellow-7: #a16207;
  --yellow-8: #854d0e;
  --yellow-9: #713f12;
  --yellow0-10: #422006;

  --lime-0: #f7fee7;
  --lime-1: #ecfccb;
  --lime-2: #d9f99d;
  --lime-3: #bef264;
  --lime-4: #a3e635;
  --lime-5: #84cc16;
  --lime-6: #65a30d;
  --lime-7: #4d7c0f;
  --lime-8: #3f6212;
  --lime-9: #365314;
  --lime-10: #1a2e05;

  --green-1: #f0fdf4;
  --green-2: #dcfce7;
  --green-3: #bbf7d0;
  --green-4: #86efac;
  --green-5: #4ade80;
  --green-6: #22c55e;
  --green-7: #16a34a;
  --green-8: #15803d;
  --green-9: #166534;
  --green-0: #14532d;
  --green-10: #052e16;

  --teal-0: #f0fdfa;
  --teal-1: #ccfbf1;
  --teal-2: #99f6e4;
  --teal-3: #5eead4;
  --teal-4: #2dd4bf;
  --teal-5: #14b8a6;
  --teal-6: #0d9488;
  --teal-7: #0f766e;
  --teal-8: #115e59;
  --teal-9: #134e4a;
  --teal-10: #042f2e;

  --cyan-0: #ecfeff;
  --cyan-1: #cffafe;
  --cyan-2: #a5f3fc;
  --cyan-3: #67e8f9;
  --cyan-4: #22d3ee;
  --cyan-5: #06b6d4;
  --cyan-6: #0891b2;
  --cyan-7: #0e7490;
  --cyan-8: #155e75;
  --cyan-9: #164e63;
  --cyan-10: #083344;

  --sky-0: #f0f9ff;
  --sky-1: #e0f2fe;
  --sky-2: #bae6fd;
  --sky-3: #7dd3fc;
  --sky-4: #38bdf8;
  --sky-5: #0ea5e9;
  --sky-6: #0284c7;
  --sky-7: #0369a1;
  --sky-8: #075985;
  --sky-9: #0c4a6e;
  --sky-10: #082f49;

  --blue-0: #eff6ff;
  --blue-1: #dbeafe;
  --blue-2: #bfdbfe;
  --blue-3: #93c5fd;
  --blue-4: #60a5fa;
  --blue-5: #3b82f6;
  --blue-6: #2563eb;
  --blue-7: #1d4ed8;
  --blue-8: #1e40af;
  --blue-9: #1e3a8a;
  --blue-10: #172554;

  --indigo-0: #eef2ff;
  --indigo-1: #e0e7ff;
  --indigo-2: #c7d2fe;
  --indigo-3: #a5b4fc;
  --indigo-4: #818cf8;
  --indigo-5: #6366f1;
  --indigo-6: #4f46e5;
  --indigo-7: #4338ca;
  --indigo-8: #3730a3;
  --indigo-9: #312e81;
  --indigo-10: #1e1b4b;

  --violet-0: #f5f3ff;
  --violet-1: #ede9fe;
  --violet-2: #ddd6fe;
  --violet-3: #c4b5fd;
  --violet-4: #a78bfa;
  --violet-5: #8b5cf6;
  --violet-6: #7c3aed;
  --violet-7: #6d28d9;
  --violet-8: #5b21b6;
  --violet-9: #4c1d95;
  --violet-10: #2e1065;

  --purple-0: #faf5ff;
  --purple-1: #f3e8ff;
  --purple-2: #e9d5ff;
  --purple-3: #d8b4fe;
  --purple-4: #c084fc;
  --purple-5: #a855f7;
  --purple-6: #9333ea;
  --purple-7: #7e22ce;
  --purple-8: #6b21a8;
  --purple-9: #581c87;
  --purple-10: #3b0764;

  --fuchsia-0: #fdf4ff;
  --fuchsia-1: #fae8ff;
  --fuchsia-2: #f5d0fe;
  --fuchsia-3: #f0abfc;
  --fuchsia-4: #e879f9;
  --fuchsia-5: #d946ef;
  --fuchsia-6: #c026d3;
  --fuchsia-7: #a21caf;
  --fuchsia-8: #86198f;
  --fuchsia-9: #701a75;
  --fuchsia-10: #4a044e;

  --pink-0: #fdf2f8;
  --pink-1: #fce7f3;
  --pink-2: #fbcfe8;
  --pink-3: #f9a8d4;
  --pink-4: #f472b6;
  --pink-5: #ec4899;
  --pink-6: #db2777;
  --pink-7: #be185d;
  --pink-8: #9d174d;
  --pink-9: #831843;
  --pink-10: #500724;
}

/* SLATE */

.slate-0 {
  color: var(--slate-0)
}

.slate-1 {
  color: var(--slate-1)
}

.slate-2 {
  color: var(--slate-2)
} 

.slate-3 {
  color: var(--slate-3)
} 

.slate-4 {
  color: var(--slate-4)
} 

.slate-5 {
  color: var(--slate-5)
} 

.slate-6 {
  color: var(--slate-6)
} 

.slate-7 {
  color: var(--slate-7)
} 

.slate-8 {
  color: var(--slate-8)
} 

.slate-9 {
  color: var(--slate-9)
} 

.slate-10 {
  color: var(--slate-10)
} 

/* GRAY */

.gray-0 {
  color: var(--gray-0)
}

.gray-1 {
  color: var(--gray-1)
}

.gray-2 {
  color: var(--gray-2)
} 

.gray-3 {
  color: var(--gray-3)
} 

.gray-4 {
  color: var(--gray-4)
} 

.gray-5 {
  color: var(--gray-5)
} 

.gray-6 {
  color: var(--gray-6)
} 

.gray-7 {
  color: var(--gray-7)
} 

.gray-8 {
  color: var(--gray-8)
} 

.gray-9 {
  color: var(--gray-9)
} 

.gray-10 {
  color: var(--gray-10)
}

.gray-0 {
  color: var(--gray-0)
}

.gray-1 {
  color: var(--gray-1)
}

.gray-2 {
  color: var(--gray-2)
} 

.gray-3 {
  color: var(--gray-3)
} 

.gray-4 {
  color: var(--gray-4)
} 

.gray-5 {
  color: var(--gray-5)
} 

.gray-6 {
  color: var(--gray-6)
} 

.gray-7 {
  color: var(--gray-7)
} 

.gray-8 {
  color: var(--gray-8)
} 

.gray-9 {
  color: var(--gray-9)
} 

.gray-10 {
  color: var(--gray-10)
}

/* NEUTRAL */

.neutral-0 {
  color: var(--neutral-0)
}

.neutral-1 {
  color: var(--neutral-1)
}

.neutral-2 {
  color: var(--neutral-2)
} 

.neutral-3 {
  color: var(--neutral-3)
} 

.neutral-4 {
  color: var(--neutral-4)
} 

.neutral-5 {
  color: var(--neutral-5)
} 

.neutral-6 {
  color: var(--neutral-6)
} 

.neutral-7 {
  color: var(--neutral-7)
} 

.neutral-8 {
  color: var(--neutral-8)
} 

.neutral-9 {
  color: var(--neutral-9)
} 

.neutral-10 {
  color: var(--neutral-10)
}

/* red */

.red-0 {
  color: var(--red-0)
}

.red-1 {
  color: var(--red-1)
}

.red-2 {
  color: var(--red-2)
} 

.red-3 {
  color: var(--red-3)
} 

.red-4 {
  color: var(--red-4)
} 

.red-5 {
  color: var(--red-5)
} 

.red-6 {
  color: var(--red-6)
} 

.red-7 {
  color: var(--red-7)
} 

.red-8 {
  color: var(--red-8)
} 

.red-9 {
  color: var(--red-9)
} 

.red-10 {
  color: var(--red-10)
}

/* orange */

.orange-0 {
  color: var(--orange-0)
}

.orange-1 {
  color: var(--orange-1)
}

.orange-2 {
  color: var(--orange-2)
} 

.orange-3 {
  color: var(--orange-3)
} 

.orange-4 {
  color: var(--orange-4)
} 

.orange-5 {
  color: var(--orange-5)
} 

.orange-6 {
  color: var(--orange-6)
} 

.orange-7 {
  color: var(--orange-7)
} 

.orange-8 {
  color: var(--orange-8)
} 

.orange-9 {
  color: var(--orange-9)
} 

.orange-10 {
  color: var(--orange-10)
}

 /* amber */

.amber-0 {
  color: var(--amber-0)
}

.amber-1 {
  color: var(--amber-1)
}

.amber-2 {
  color: var(--amber-2)
} 

.amber-3 {
  color: var(--amber-3)
} 

.amber-4 {
  color: var(--amber-4)
} 

.amber-5 {
  color: var(--amber-5)
} 

.amber-6 {
  color: var(--amber-6)
} 

.amber-7 {
  color: var(--amber-7)
} 

.amber-8 {
  color: var(--amber-8)
} 

.amber-9 {
  color: var(--amber-9)
} 

.amber-10 {
  color: var(--amber-10)
}

/* yellow */

.yellow-0 {
  color: var(--yellow-0)
}

.yellow-1 {
  color: var(--yellow-1)
}

.yellow-2 {
  color: var(--yellow-2)
} 

.yellow-3 {
  color: var(--yellow-3)
} 

.yellow-4 {
  color: var(--yellow-4)
} 

.yellow-5 {
  color: var(--yellow-5)
} 

.yellow-6 {
  color: var(--yellow-6)
} 

.yellow-7 {
  color: var(--yellow-7)
} 

.yellow-8 {
  color: var(--yellow-8)
} 

.yellow-9 {
  color: var(--yellow-9)
} 

.yellow-10 {
  color: var(--yellow-10)
}

/* lime */

.lime-0 {
  color: var(--lime-0)
}

.lime-1 {
  color: var(--lime-1)
}

.lime-2 {
  color: var(--lime-2)
} 

.lime-3 {
  color: var(--lime-3)
} 

.lime-4 {
  color: var(--lime-4)
} 

.lime-5 {
  color: var(--lime-5)
} 

.lime-6 {
  color: var(--lime-6)
} 

.lime-7 {
  color: var(--lime-7)
} 

.lime-8 {
  color: var(--lime-8)
} 

.lime-9 {
  color: var(--lime-9)
} 

.lime-10 {
  color: var(--lime-10)
}

/* green */

.green-0 {
  color: var(--green-0)
}

.green-1 {
  color: var(--green-1)
}

.green-2 {
  color: var(--green-2)
} 

.green-3 {
  color: var(--green-3)
} 

.green-4 {
  color: var(--green-4)
} 

.green-5 {
  color: var(--green-5)
} 

.green-6 {
  color: var(--green-6)
} 

.green-7 {
  color: var(--green-7)
} 

.green-8 {
  color: var(--green-8)
} 

.green-9 {
  color: var(--green-9)
} 

.green-10 {
  color: var(--green-10)
}

/* teal */

.teal-0 {
  color: var(--teal-0)
}

.teal-1 {
  color: var(--teal-1)
}

.teal-2 {
  color: var(--teal-2)
} 

.teal-3 {
  color: var(--teal-3)
} 

.teal-4 {
  color: var(--teal-4)
} 

.teal-5 {
  color: var(--teal-5)
} 

.teal-6 {
  color: var(--teal-6)
} 

.teal-7 {
  color: var(--teal-7)
} 

.teal-8 {
  color: var(--teal-8)
} 

.teal-9 {
  color: var(--teal-9)
} 

.teal-10 {
  color: var(--teal-10)
}

/* cyan */

.cyan-0 {
  color: var(--cyan-0)
}

.cyan-1 {
  color: var(--cyan-1)
}

.cyan-2 {
  color: var(--cyan-2)
} 

.cyan-3 {
  color: var(--cyan-3)
} 

.cyan-4 {
  color: var(--cyan-4)
} 

.cyan-5 {
  color: var(--cyan-5)
} 

.cyan-6 {
  color: var(--cyan-6)
} 

.cyan-7 {
  color: var(--cyan-7)
} 

.cyan-8 {
  color: var(--cyan-8)
} 

.cyan-9 {
  color: var(--cyan-9)
} 

.cyan-10 {
  color: var(--cyan-10)
}

/* sky */

.sky-0 {
  color: var(--sky-0)
}

.sky-1 {
  color: var(--sky-1)
}

.sky-2 {
  color: var(--sky-2)
} 

.sky-3 {
  color: var(--sky-3)
} 

.sky-4 {
  color: var(--sky-4)
} 

.sky-5 {
  color: var(--sky-5)
} 

.sky-6 {
  color: var(--sky-6)
} 

.sky-7 {
  color: var(--sky-7)
} 

.sky-8 {
  color: var(--sky-8)
} 

.sky-9 {
  color: var(--sky-9)
} 

.sky-10 {
  color: var(--sky-10)
}

/* blue */

.blue-0 {
  color: var(--blue-0)
}

.blue-1 {
  color: var(--blue-1)
}

.blue-2 {
  color: var(--blue-2)
} 

.blue-3 {
  color: var(--blue-3)
} 

.blue-4 {
  color: var(--blue-4)
} 

.blue-5 {
  color: var(--blue-5)
} 

.blue-6 {
  color: var(--blue-6)
} 

.blue-7 {
  color: var(--blue-7)
} 

.blue-8 {
  color: var(--blue-8)
} 

.blue-9 {
  color: var(--blue-9)
} 

.blue-10 {
  color: var(--blue-10)
}

/* indigo */

.indigo-0 {
  color: var(--indigo-0)
}

.indigo-1 {
  color: var(--indigo-1)
}

.indigo-2 {
  color: var(--indigo-2)
} 

.indigo-3 {
  color: var(--indigo-3)
} 

.indigo-4 {
  color: var(--indigo-4)
} 

.indigo-5 {
  color: var(--indigo-5)
} 

.indigo-6 {
  color: var(--indigo-6)
} 

.indigo-7 {
  color: var(--indigo-7)
} 

.indigo-8 {
  color: var(--indigo-8)
} 

.indigo-9 {
  color: var(--indigo-9)
} 

.indigo-10 {
  color: var(--indigo-10)
}

/* violet */

.violet-0 {
  color: var(--violet-0)
}

.violet-1 {
  color: var(--violet-1)
}

.violet-2 {
  color: var(--violet-2)
} 

.violet-3 {
  color: var(--violet-3)
} 

.violet-4 {
  color: var(--violet-4)
} 

.violet-5 {
  color: var(--violet-5)
} 

.violet-6 {
  color: var(--violet-6)
} 

.violet-7 {
  color: var(--violet-7)
} 

.violet-8 {
  color: var(--violet-8)
} 

.violet-9 {
  color: var(--violet-9)
} 

.violet-10 {
  color: var(--violet-10)
}

/* purple */

.purple-0 {
  color: var(--purple-0)
}

.purple-1 {
  color: var(--purple-1)
}

.purple-2 {
  color: var(--purple-2)
} 

.purple-3 {
  color: var(--purple-3)
} 

.purple-4 {
  color: var(--purple-4)
} 

.purple-5 {
  color: var(--purple-5)
} 

.purple-6 {
  color: var(--purple-6)
} 

.purple-7 {
  color: var(--purple-7)
} 

.purple-8 {
  color: var(--purple-8)
} 

.purple-9 {
  color: var(--purple-9)
} 

.purple-10 {
  color: var(--purple-10)
}

/* fuchsia */

.fuchsia-0 {
  color: var(--fuchsia-0)
}

.fuchsia-1 {
  color: var(--fuchsia-1)
}

.fuchsia-2 {
  color: var(--fuchsia-2)
} 

.fuchsia-3 {
  color: var(--fuchsia-3)
} 

.fuchsia-4 {
  color: var(--fuchsia-4)
} 

.fuchsia-5 {
  color: var(--fuchsia-5)
} 

.fuchsia-6 {
  color: var(--fuchsia-6)
} 

.fuchsia-7 {
  color: var(--fuchsia-7)
} 

.fuchsia-8 {
  color: var(--fuchsia-8)
} 

.fuchsia-9 {
  color: var(--fuchsia-9)
} 

.fuchsia-10 {
  color: var(--fuchsia-10)
}

/* pink */

.pink-0 {
  color: var(--pink-0)
}

.pink-1 {
  color: var(--pink-1)
}

.pink-2 {
  color: var(--pink-2)
} 

.pink-3 {
  color: var(--pink-3)
} 

.pink-4 {
  color: var(--pink-4)
} 

.pink-5 {
  color: var(--pink-5)
} 

.pink-6 {
  color: var(--pink-6)
} 

.pink-7 {
  color: var(--pink-7)
} 

.pink-8 {
  color: var(--pink-8)
} 

.pink-9 {
  color: var(--pink-9)
} 

.pink-10 {
  color: var(--pink-10)
}