body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
}

h1 {font-size: clamp(1.75rem, 4vw, 2.25rem)}
h2 {font-size: clamp(1.4rem, 3.2vw, 1.8rem)}
h3 {font-size: clamp(1.12rem, 2.8vw, 1.44rem)}
h4 {font-size: clamp(0.896rem, 2.4vw, 1.152rem)}
h5 {font-size: clamp(0.716rem, 2vw, 0.9216rem)}
h6 {font-size: clamp(0.573rem, 1.8vw, 0.74rem)}
p, span, li {font-size: clamp(0.9rem, 1.5vw, 1.125rem)}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  /* text-box-trim: trim-both; */
  /* text-box-edge: cap alphabetic; */
  text-box: trim-both cap alphabetic;
  padding-top: 0.15rem;
  line-height: 1.3;
  overflow-wrap: anywhere;
  text-wrap: pretty;
}