.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
}