.title {
  display: block;
  text-align: center;
  font-family: var(--font-rampart-one);
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.container {
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.containerLetters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.message {
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgHint {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hint {
  height: 120px;
  overflow-y: scroll;
  border: 1px solid var(--gray-3);
  border-radius: 5px;
  padding: 5px
}

.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.wordDisplay {
  display: flex;
  gap: 5px;
}

.word {
  font-size: 1.5rem;
}

@media (width < 800) {
  .container {
    grid-template-columns: 1fr;
    gap: 35px
  }
}
