.container {
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.title {
  display: block;
  text-align: center;
  font-family: var(--font-rampart-one);
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.pics {
}

.letters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

.wordDisplay {

}
