.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.wrapper {
  width: 100px;
  padding: 5px 5px 1px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.number {
  font-size: 0.8rem;
}

.letter {
  font-size: 1.4rem;
  font-weight: bold;
}
